body{background: #ffff99;margin-left: 150px;margin-top: 50px;}
h1{color: mediumorchid; font-family: algerian;}
h2{color: deepskyblue; font-family: algerian;}
h5{color: red; text-align: left;}
p{color: Fuchsia;}